@use "_reset.scss";
@use "_mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap");


$main-color: #000;
$secondary-color: #fff;
$main-font: "Playfair Display", serif;


html {
  scroll-behavior: smooth;
}

body {
  color: $main-color;
  font-family: $main-font;
  font-weight: 400;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}
/* ------------------------------------------------------------------- */
[class*="__container"] {
  max-width: 64.8125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}
/* ------------------------------------------------------------------- */

.separator {
  border: none;
  border-top: 0.0625rem solid #837F7F;
  width: 100%;
  margin-top: 6.8125rem;
}

/* ------------------------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: $secondary-color;
  &--scroll-state {
    background-color: rgba(36, 36, 36, 0.837);
  }
		// .header__container

		&__container {
      max-width: 60.4375rem;
      min-height: 6.25rem;
      padding-top: 1.5625rem;
      padding-bottom: 1.5625rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 25rem;
		}

		// .header__logo

		&__logo {
      font-size: 2.25rem;
		}

}
.menu {
  flex-grow: 1;

		// .menu__list

		&__list {
      font-size: 0.75rem;
      display: flex;
      gap: 1.25rem 2rem;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
		}

		// .menu__item

		&__item {
      transition: all 0.3s;
      border-bottom: 1px solid transparent;
      &:hover {
        transform: translateY(-3px);
        border-bottom: 1px solid $secondary-color;
      }
		}
}
.icon-menu {
  display: none;
}


/*-----------------------------------------------------------*/

.hero {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 10.9375rem;
  padding-bottom: 0.9375rem;
  color: $secondary-color;
  margin-bottom: 5.25rem;
  &__container {
    max-width: 59.75rem;
    display: flex;
    justify-content: end;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 2.9375rem;
    margin-bottom: 2.25rem;
  }
  &__text {
    font-size: 0.875rem;
    margin-bottom: 5.1875rem;
    & p:not(:last-child) {
      margin-bottom: 5.1875rem;
    }
  }
  &__link {
    font-size: 0.8125rem;
    border: 1px solid #f8f8f8;
    padding: 0.625rem 0.8125rem;
    transition: all 0.3s;
    &:hover {
      background-color: #f8f8f8;
      color: $main-color;
    }
  }
}
/*-----------------------------------------------------------*/

.about {
    margin-bottom: 7rem;

		// .about__container

		&__container {
      @include mixins.container();
      line-height: 1.3;
		}

		// .about__title

		&__title {
      font-size: 1.875rem;
      margin-bottom: 7.1875rem;
      
		}

		// .about__content

		&__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 13.6875rem;
      margin-bottom: 8.4375rem;
		}

		// .about__info

		&__info {
      flex: 0 1 43.34%;
      display: flex;
      flex-direction: column;
      gap: 2.1875rem;
		}

    // .about__link

    &__link {
      @include mixins.linkButton();
      transition: all 0.3s;
      &:hover {
        background-color: $main-color;
        color: $secondary-color;
      }
    }
}
.info-about {

		// .info-about__title

		&__title {
      font-size: 1.875rem;
		}

		// .info-about__text

		&__text p:not(:last-child) {
      margin-bottom: 2.1875rem;
		}
}


/*-----------------------------------------------------------*/
.cosmetics {
    margin-bottom: 7.34rem;

		// .cosmetics__container

		&__container {
      @include mixins.container($max-width: 50.875rem);
		}

		// .cosmetics__title

		&__title {
      font-size: 2.25rem;
      margin-bottom: 3.125rem;
      text-align: center;
		}

		// .cosmetics__menu

		&__menu {
      margin-bottom: 6.25rem;
		}

		// .cosmetics__items

		&__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4.75rem 5.75rem; 
      margin-bottom: 8.4375rem;
		}

		// .cosmetics__link

		&__link {
      @include mixins.linkButton();
      transition: all 0.3s;
      &:hover {
        background-color: $main-color;
        color: $secondary-color;
      }
		}
}


.menu-cosmetics {

		// .menu-cosmetics__list

		&__list {
      display: flex;
      flex-direction: column;
      gap: 1.375rem;
      align-items: center;
      justify-content: center;
      text-align: center;
		}

		// .menu-cosmetics__link

		&__link {
      width: 6.25rem;
      border-bottom: 1px solid transparent;
      padding-bottom: 10px;
      transition: border-bottom 0.3s;
      &:hover {
        border-bottom: 1px solid $main-color;
      }
		}
}


.item-cosmetics {
  flex: 1 1 12.5rem;
  max-width: 18.75rem;
  &__link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    text-decoration: none; 
    color: inherit; 
    height: 100%;
    transition: transform 0.3s;
    &:hover {
      .item-cosmetics__img {
        transform: scale(1.05); 
      }
      .item-cosmetics__caption {
        text-decoration: underline;
      }
      .item-cosmetics__media::after {
        background-color: transparent; 
      }
    }
  }
  &__media {
    width: 100%;
    aspect-ratio: 200 / 208;
    position: relative;
    display: block;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;
    }
  }
		// .item-cosmetics__img

		&__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
		}

		// .item-cosmetics__caption

		&__caption {
      flex-grow: 1;
      font-size: 1.25rem;
      line-height: 1.3;
		}
}


.footer {
    background-color: #646464;
    &__container {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
    }
    &__link {
      font-size: 20px;
      color: $secondary-color;
      transition: all 0.3s;
      &:hover {
        transform: translateY(-5px);
        text-decoration: underline;
      }
    }
}



/* ------------------------------------------------------------------- */

@media (max-width: 60rem) {
  .header {
    &__container {
      gap: 1rem;
      justify-content: space-between;
    }
  }
  .menu {
    &__list {
      justify-content: flex-end;
      gap: 1.25rem 1.5rem; 
    }
  }

  .hero {
    &__container {
      justify-content: center;
      text-align: center;
    }
  }

  .about {
    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.75rem;
		}
  }
}


@media (max-width: 48em) {
  .header {
    &__logo {
      position: relative;
      z-index: 3;
    }
  }

  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    flex-shrink: 0;
    background: transparent;
    position: relative;
    z-index: 3;

    span,
    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 30px;
      position: absolute;
      right: 0;
      transition: all 0.3s;
      background-color: $secondary-color;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: 50%;
      translate: 0 -50%;
    }
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 1;
    overflow: auto;
    transition: left 0.3s;
    padding: 120px 15px 30px 15px;
    background-color: #646464;

    &::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 70px;
      top: 0;
      left: 100%;
      transition: left 0.3s;
      z-index: 2;
    }

    &__list {
      row-gap: 30px;
      flex-direction: column;
    }

    &__link {
      font-size: 28px;
    }
  }

  [data-menu-open] {
    .icon-menu {
      span {
        width: 0;
      }
      &::before {
        rotate: -45deg;
        translate: 0 -50%;
        top: 50%;
      }
      &::after {
        rotate: 45deg;
        translate: 0 50%;
        bottom: 50%;
      }
    }
    .menu,
    .menu::before {
      left: 0;
    }
  }

  .about {
    margin-bottom: 5.25rem;
    &__title,
    &__content {
      margin-bottom: 3.125rem;
    }
  }

  .cosmetics {
    margin-bottom: 5.25rem;
    &__items,
    &__menu {
      margin-bottom: 3.125rem;
    }
  }
}

@media (max-width: 45rem) {
  .cosmetics {
    &__items {
      gap: 3.125rem; 
		}
  }
}