@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

label {
  display: inline-block;
}

button,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* ------------------------------------------------------------------- */
[class*=__container] {
  max-width: 64.8125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

/* ------------------------------------------------------------------- */
.separator {
  border: none;
  border-top: 0.0625rem solid #837F7F;
  width: 100%;
  margin-top: 6.8125rem;
}

/* ------------------------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: #fff;
}
.header--scroll-state {
  background-color: rgba(36, 36, 36, 0.837);
}
.header__container {
  max-width: 60.125rem;
  min-height: 6.25rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 18.75rem;
}
.header__logo {
  font-size: 2.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.menu__item {
  position: relative;
}
.menu__link {
  position: relative;
  display: inline-block;
}
.menu__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: width 0.3s ease, left 0.3s ease;
  transition: width 0.3s ease, left 0.3s ease;
}
html:not([data-fls-touch]) .menu__link:hover::after {
  left: 0;
  width: 100%;
}

.icon-menu {
  display: none;
}

/*-----------------------------------------------------------*/
.hero {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 10.9375rem;
  padding-bottom: 0.9375rem;
  color: #fff;
  margin-bottom: 5.25rem;
}
.hero__container {
  max-width: 59.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero__bg-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__title {
  font-size: 2.9375rem;
  margin-bottom: 2.25rem;
}
.hero__text {
  font-size: 0.875rem;
  margin-bottom: 5.1875rem;
}
.hero__text p:not(:last-child) {
  margin-bottom: 5.1875rem;
}
.hero__link {
  font-size: 0.8125rem;
  border: 1px solid #f8f8f8;
  padding: 0.625rem 0.8125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
html:not([data-fls-touch]) .hero__link:hover {
  background-color: #f8f8f8;
  color: #000;
}

/*-----------------------------------------------------------*/
.about {
  margin-bottom: 7rem;
}
.about__container {
  max-width: 63.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
}
.about__title {
  font-size: 1.875rem;
  margin-bottom: 7.1875rem;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13.6875rem;
  margin-bottom: 8.4375rem;
}
.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43.34%;
          flex: 0 1 43.34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.1875rem;
}
.about__media {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 19.8125rem;
          flex: 1 1 19.8125rem;
  max-width: 100%;
  aspect-ratio: 317/485;
}
.about__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.about__link {
  font-size: 0.875rem;
  border: solid 1px #000;
  padding: 0.625rem 3.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
html:not([data-fls-touch]) .about__link:hover {
  background-color: #000;
  color: #fff;
}

.info-about__title {
  font-size: 1.875rem;
}
.info-about__text p:not(:last-child) {
  margin-bottom: 2.1875rem;
}

/*-----------------------------------------------------------*/
.cosmetics {
  margin-bottom: 7.34rem;
}
.cosmetics__container {
  max-width: 50.875rem;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.cosmetics__title {
  font-size: 2.25rem;
  margin-bottom: 3.125rem;
  text-align: center;
}
.cosmetics__menu {
  margin-bottom: 6.25rem;
}
.cosmetics__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 12.5rem));
  gap: 4.75rem 5.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8.4375rem;
}
.cosmetics__link {
  font-size: 0.875rem;
  border: solid 1px #000;
  padding: 0.625rem 3.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
html:not([data-fls-touch]) .cosmetics__link:hover {
  background-color: #000;
  color: #fff;
}

.menu-cosmetics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.menu-cosmetics__link {
  width: 6.25rem;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}
html:not([data-fls-touch]) .menu-cosmetics__link:hover {
  border-bottom: 1px solid #000;
}

.item-cosmetics {
  max-width: 12.5rem;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.item-cosmetics__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
html:not([data-fls-touch]) .item-cosmetics__link-wrapper:hover .item-cosmetics__img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
html:not([data-fls-touch]) .item-cosmetics__link-wrapper:hover .item-cosmetics__caption {
  text-decoration: underline;
}
html:not([data-fls-touch]) .item-cosmetics__link-wrapper:hover .item-cosmetics__media::after {
  background-color: transparent;
}
.item-cosmetics__media {
  aspect-ratio: 1/1.04;
  position: relative;
  overflow: hidden;
}
.item-cosmetics__media::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
}
.item-cosmetics__img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.item-cosmetics__caption {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.25rem;
  line-height: 1.3;
}

.footer {
  background-color: #646464;
}
.footer__container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.footer__link {
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
html:not([data-fls-touch]) .footer__link:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  text-decoration: underline;
}

/* ------------------------------------------------------------------- */
@media (max-width: 60em) {
  .header__container {
    gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 1.25rem 1.5rem;
  }
  .hero__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.75rem;
  }
}
@media (max-width: 48em) {
  .header__container {
    min-height: 4.375rem;
  }
  .header__logo {
    position: relative;
    z-index: 3;
  }
  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: transparent;
    position: relative;
    z-index: 3;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    translate: 0 -50%;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 1;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 120px 15px 30px 15px;
    background-color: #646464;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 2;
  }
  .menu__list {
    row-gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    font-size: 28px;
  }
  [data-menu-open] body {
    overflow: hidden;
  }
  [data-menu-open] .icon-menu span {
    width: 0;
  }
  [data-menu-open] .icon-menu::before {
    rotate: -45deg;
    translate: 0 -50%;
    top: 50%;
  }
  [data-menu-open] .icon-menu::after {
    rotate: 45deg;
    translate: 0 50%;
    bottom: 50%;
  }
  [data-menu-open] .menu,
  [data-menu-open] .menu::before {
    left: 0;
  }
  .about {
    margin-bottom: 5.25rem;
  }
  .about__title, .about__content {
    margin-bottom: 3.125rem;
  }
  .cosmetics {
    margin-bottom: 5.25rem;
  }
  .cosmetics__items, .cosmetics__menu {
    margin-bottom: 3.125rem;
  }
}