
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.main-section {
    min-height: 750px;
    padding-top: 16px;
    overflow: hidden;
}

.main-section__logo {
    width: 135px;
}

.main-section__nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin-bottom: 50px;
}

.nav-menu__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav-menu__list-item {
    margin-right: 64px;
    font-size: 20px;
    font-weight: bold;   
} 

.nav-menu__list-link:hover {
    border-bottom: 2px solid black;
}

.nav-menu__list-item:last-child {
    margin-right: 0px;
}

.main-section__content-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;

}

.left-wrapper__img {
    width: 375px;
    height: 500px;
    border-radius: 10px;
}

.right-wrapper__text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-me__item {
    font-size: 20px;
}

.title {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
}

.title_2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.title__hr {
    border: none;
    border-top: 1px solid black; 
}


.second-section {
    min-height: 900px;
    overflow: hidden;
}

.second-section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.second-section__photos {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-bottom: 20px;
}

.second-section__photo {
    height: 500px;
    border-radius: 5px;
}

.second-section__text {
    font-size: 18px;
    border: 2px solid black ;
    text-align: center;
    padding: 0 10px;
}

.third-section {
    min-height: 250px;
    overflow: hidden;
}


.info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
    padding-top: 20px;
}

.info-list__item:hover {
    border-bottom: 2px solid black;
}

.footer__container {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}





