@import url("reset.css");
@import url("fonts.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*general styles*/

body {
	font-family: "Roboto", sans-serif;
	color: #fff;
	background-color: #d3d1fa;
	padding: 0 15px;
}
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
}

.title {
	font-size: 40px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 30px;
}

.block {
	color: black;
	font-size: 18px;
	font-weight: 600;
	height: 75px;
	width: 150px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px 5px;
}

.block-1 {
	background-color: red;
}	

.block-2 {
	background-color: yellow;
}

.block-3 {
	background-color: blue;
}

[class*="__label"] {
	color: black;
	font-size: 18px;
	font-weight: 600;
}

[class*="__text"] {
	font-size: 20px;
}

[class*="__content"] {
	text-align: center;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	margin-bottom: 200px;
}

[class*="__experiments"] {
	min-height: 400px;
	display: inline-block;
	text-align: center;
	width: 75%;
	background-color: lightcyan;
	border: 2px solid black;
}

/*header*/ 

.header {
	z-index: 100;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	background-color: #8088d0a2;
}


.header__container {
	margin-bottom: 300px;
}

.header__title {
	display: inline-block;
	vertical-align: middle;
	margin-right: 580px;
	font-size: 20px;
}

/* menu */
.menu {
	display: inline-block;
    vertical-align: middle;
}

.menu__list {
	font-size: 0;
}
.menu__item {
	position: relative;
	display: inline-block;	
}

.menu__item:hover .menu__link {
	background-color: #7c8bff;
	text-decoration: underline;
	border-radius: 5px;
}

.menu__item:hover .menu__submenu {
	opacity: 1;
	visibility: visible;
}

.menu__item:not(:last-child) {
	margin-right: 15px;
}

.menu__link {
	font-size: 18px;
	padding: 10px;
	transition: background-color 0.3s;
}

.menu__submenu {
	position: absolute;
	top: 115%;
	left: 0;
	background-color: #7c8bff;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}

.submenu {
	width: 200px;
	padding: 10px;
}

.submenu__link {
	display: inline-block;
    font-size: 18px;
    padding: 5px 0;
}

.submenu__item {
	position: relative;
	display: inline-block;
}

.submenu__item:hover .submenu__link {
	background-color: #7c8bff;
	text-decoration: underline;
}
.submenu__item:hover .submenu__sub-submenu {
	opacity: 1;
	visibility: visible;
}

.submenu__sub-submenu {
	position: absolute;
	top: 115%;
	left: -7%;
	background-color: #7c8bff;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}

.sub-submenu {
	padding: 10px;
	width: 250px;
}

.sub-submenu__item:not(:last-child) {
	margin-bottom: 7px;
	border-bottom: 2px solid white;
}

.sub-submenu__link {
    display: inline-block;
	font-size: 18px;
	padding: 10px;
}
.sub-submenu__link:hover {
	text-decoration: underline;
}

/*hero*/

.hero__container {
	margin-bottom: 300px;
}

.hero__content {
	width: 100%;
}

.hero__title {
	font-size: 70px;
	font-weight: 600;
}

/*relative*/

.relative__text {
	margin-bottom: 50px;
}

.relative__block-1 {
	position: relative;
	top: 40px;
	left: 300px;
}

.relative__block-2 {
	position: relative;
	top: 20px;
	left: 250px;
	z-index: 3;
}

.relative__block-3 {
	position: relative;
	top: -60px;
	left: 380px;
	z-index: 2;
}

/*absolite*/

.absolute__text {
	margin-bottom: 50px;
}
.absolute__experiments {
	position: relative;
	padding: 50px;
	margin-bottom: 50px;
}

.absolute__label--relative {
	position: relative;
	top: -50px;
}

.absolute__box {
	display: inline-block;
	text-align: center;
	min-height: 300px;
	width: 75%;
	background-color: lightyellow;
	border: 2px solid black;
}

.absolute__block-1 {
	position: absolute;
	top: 300px;
	left: 350px;
}

.absolute__block-2 {
	position: absolute;
	top: 160px;
	left: 120px;
}

.absolute__block-3 {
	position: absolute;
	top: 160px;
	left: 600px;
}

/*fixed*/

.fixed__text {
	margin-bottom: 50px;
}

.fixed__experiments {
	position: relative;
}

.fixed__block-1 {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fixed__block-2 {
	position: fixed;
	bottom: 0;
	left: 0;
}

.fixed__block-3 {
	position: absolute;
	top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%);
}

/*sticky*/

.sticky__text {
	margin-bottom: 50px;
}

.sticky__experiments {
	position: relative;
	margin-bottom: 50px;
	max-height: 350px;
    overflow: scroll;
}

.sticky__experiments p {
	color: black;
}

.sticky__block-1,
.sticky__block-2,
.sticky__block-3 {
	width: 100%;
	position: sticky;
	top: 0;
}

/*z-index*/
.z-index__list {
	font-size: 20px;
	list-style-type: circle;
	text-align-last: left;
	margin-bottom: 50px;
}
.z-index__item {
	list-style-type: disc;
}

.z-index__item:not(:last-child) {
	margin-bottom: 10px;
}

.z-index__experiments {
	position: relative;
	padding: 20px;
}

.z-index__box {
	position: relative;
	border: 2px solid black;
	width: 100%;
	min-height: 200px;
}

.z-index__box--green {
	z-index: 2;
	top: 70px;
	background-color: lightgreen;
}

.z-index__box--yellow {
	z-index: 1;
	width: 100%;
	min-height: 200px;
	background-color: lightyellow;
}

.z-index__block-1 {
	z-index: 2;
	position: absolute;
	top: 30%;
	left: 40%;
}

.z-index__block-2 {
	z-index: 1;
	position: absolute;
	top: 40%;
	left: 50%;
}

.z-index__block-3 {
	position: absolute;
	top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%);
}

.z-index__label--yellow {
	position: absolute;
	bottom: 0;
	left: 50%;          
    transform: translate(-50%, -50%);
}

.footer {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
	background-color: #8088d0a2;
}

.footer__link {
    text-decoration: underline;
    text-transform: capitalize;
}

/* homework */

/* cards */
.cards__item {
    position: relative; 
    display: inline-block;
    max-width: 251px; 
    height: 315px; 
    overflow: hidden;  
	font-family: "Playfair Display", serif;
	font-weight: 400;
	color: #fff;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.501);
}

.cards__item:not(:last-child) {
	margin-right: 123px;
}


.cards__img {
	position: relative;
	max-width: 100%;
}

.cards__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.353); 
    opacity: 0; 
	visibility: hidden;
	transition: opacity 0.5s ease;
}

.cards__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: 0;
    font-family: serif;
	font-size: 28px;
	text-align: center;
	white-space: nowrap;
}

.cards__more {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
	font-size: 17px;
}


.cards__item:hover .cards__overlay {
    opacity: 1; 
	visibility: visible;
}

/*list*/

.list__box {
	margin: 0 auto;
	text-align: left;
	border-radius: 8px;
	padding: 40px;
	max-width: 351px;
	background-color: #fff;
}

.list__item {
	position: relative;
	font-family: "Montserrat",sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.7;
	min-height: 32px;
	padding-left: 42px;
	color: black;
}

.list__item:not(:last-child) {
	margin-bottom: 15px;
} 

.list__item::before {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0;
	top: -5px;
}

.list__item--green::before {
	content: "";
	background-image: url("../img/check-green.svg");
}

.list__item--gray::before {
	content: "";
	background-image: url("../img/check-gray.svg");
}
