@import url("reset.css");
@import url("fonts.css");


body {
    font-family: "Lato", sans-serif;
    color:#2f302c;
    font-weight: 500;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

.page {
    padding-top: 50px;
	padding-bottom: 50px;
}

[class*="__container"] {
	max-width: 1422px;
	margin: 0 auto;
    padding: 0 15px;
}

[class*="__title"] {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.25;
    text-transform: uppercase;
}

[class*="__text"] {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #7e7f7c;
}

.header {
    margin-bottom: 164px;
    background-color: #d1effc;
}

.header__container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__title {
    text-align: center;
}

.register {
    margin-bottom: 164px;
}


.header-register {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    text-align: center;
    text-transform: uppercase;

}
.register__header {
    margin-bottom: 164px;
}

.register__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 712px;
    gap: 72px;
}

.form-register__header {
    display: flex;
    flex-direction: column;
    row-gap: 36px;    
}

.form-register__text {
    font-weight: 500;
}

.form-register__link {
    font-weight: 700;
    text-decoration: underline;
    color:#2f302c;
    transition: color 0.3s;
}

.form-register__link:hover {
    color: #7e7f7c;
}

.form-register__fields {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.form-register__row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.form-register__field {
    width: 100%;
}

.form-register__input {
    height: 44px;
    padding: 12px 0px;
    border-bottom: 1px solid #d4d4d4;
    outline: none;
}

.form-register__button {
    align-self: flex-start;
}

.button {
    padding: 12px;
    font-weight: 500;
    min-width: 336px;
    color: #fff;
    background-color: #2f302c;
    transition: all 0.3s;
}

.button:hover {
    background-color: #d9d9d9;
    color: #2f302c;
}

.banner-register {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 50px 60px 80px;
    position: relative;
    min-height: 496px;
    flex: 0 1 600px;
    background-color: #f6f6f6;
    overflow: hidden;
    z-index: 1;
}

.banner-register__img {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: -1;
}

.banner-register__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 184px;
}

.banner-register__label {
    align-self: flex-start;
}

.label {
    display: inline-block;
    padding: 6px 8px;
    font-weight: 700;
    color: #fff;
    background-color: #ce0000;
    text-transform: uppercase;
    border-radius: 4px;
}

.footer {
    background-color: #d1effc;
}

.footer__container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer__link {
    font-size: 20px;
    font-weight: 700;
}

.footer__link:hover {
    text-decoration: underline;
}