@font-face {
    font-family: "Fugaz One";
    src: url("../fonts/FugazOne-Regular.woff2") format("woff2");
    font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Variable.woff2") format("woff2");
    font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Variable.woff2") format("woff2");
    font-display: swap;
	font-weight: 600;
	font-style: normal;
}
